<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
<title>{{title}}</title> 
<form action="/sendmail" method="POST">
	<div class="login">
	<div class="login-screen">
	<div class="app-title">
	<h1>Reset Password</h1>
	</div>
	<div class="login-form">
	<div class="control-group">
	<input type="text" class="login-field" value="" placeholder="email" name="email">
	</div>
        <input type="submit" value="Send" class="btn btn-primary btn-large btn-block">
	<br>
	</div>
	</div>
	</div>
</form>
 
{% endblock %}
