<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
<title>{{title}}</title>
<form action="/login" method="POST">
	<div class="login">
	<div class="login-screen">
	<div class="app-title">
	<h1>Login</h1>
	</div>
	<div class="login-form">
	<div class="control-group">
	<input type="text" class="login-field" value="" placeholder="email" name="email">
	</div>
	<div class="control-group">
	<input type="password" class="login-field" value="" placeholder="password" name="password">
	</div>
        <input type="submit" value="Login" class="btn btn-primary btn-large btn-block">
	<br>
        <a href='/signup'>Sign up</a>
        <a href='/forgotpass'>Forgot password</a>
	</div>
	</div>
	</div>
</form>
 
{% endblock %}
