<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
<title>{{title}}</title>
<form action="/create_account" method="POST">
	<div class="login">
	<div class="login-screen">
	<div class="app-title">
	<h1>Sign Up</h1>
	</div>
	<div class="login-form">
	<div class="control-group">
	<span style='left:-8px;position:relative;color:red'>*</span><input type="text" class="login-field" value="" placeholder="first name" name="given_name">
	</div>
	<div class="control-group">
        <span style='left:-8px;position:relative;color:red'>*</span><input type="text" class="login-field" value="" placeholder="last name" name="surname">
        </div>
        <div class="control-group">
        <input type="text" class="login-field" value="" placeholder="username" name="username">
        </div>
	<div class="control-group">
        <span style='left:-8px;position:relative;color:red'>*</span><input type="text" class="login-field" value="" placeholder="email" name="email">
        </div>
	<div class="control-group">
	<span style='left:-8px;position:relative;color:red'>*</span><input type="password" class="login-field" value="" placeholder="password" name="password">
	</div>
	<div class="control-group">
        <input type="text" class="login-field" value="" placeholder="favorite color" name="fav_color">
        </div>
        <input type="submit" value="Sign up" class="btn btn-primary btn-large btn-block">
	<br>
	<div style='color:red'>* Required Field</div>
	</div>
	</div>
	</div>
</form>
 
{% endblock %}
